@font-face {
    font-family: 'logo-font';
    src: url(https://fonts.gstatic.font.im/s/concertone/v21/VEM1Ro9xs5PjtzCu-srDqSTsjP6yuQ.woff2) format('woff2');
}

@font-face {
    font-family: 'main-font';
    src: url(https://fonts.gstatic.font.im/s/notosanssc/v36/k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaG9_FnYkldv7JjxkkgFsFSSOPMOkySAZ73y9ViAt3acb8NexQ2w.4.woff2) format('woff2');
}

ul {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'main-font', sans-serif;
    /* transition: all 200ms; */
}


body {
    /* 暗灰色背景 */
    background-color: #222;
    /* 文本颜色为白色 */
    color: #ffffff;
}

header {
    background: linear-gradient(to bottom, #6103ee, #4a4aed);
    color: #fff;
    padding: 10px 15px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 #4a4aed;
}

h1 {
    font-family: 'logo-font', monospace;
    font-size: 40px;
    letter-spacing: 3px;
    margin-right: 10px;
}

#header-left {
    margin-left: 10px;
    float: left;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

#header-left ul {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-left: 40px;
}

#header-left ul a {
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    color: #eee;
    text-align: center;
    padding: 5px 10px;
}

#header-left ul a:hover {
    color: #5528ee;
    background-color: #eee;
    border-radius: 5px;
}

#header-left img {
    height: 25px;
}

.icon {
    height: 25px;
    margin: 0 10px;
}

#header-right {
    float: right;
    display: flex;
    align-items: center;
}

#header-right a {
    height: 25px;
}

footer {
    padding: 10px;
    font-family: sans-serif;
    color: #999;
    font-size: small;
    text-align: center;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #fff;
}

footer>div {
    margin: 10px 0;
}

footer li {
    display: inline-block;
    margin: 0 5px;
}

.board {
    background: #333;
    border-radius: 10px;
    box-shadow: #333 0 0 5px 0;
}

a {
    text-decoration: none;
}

header #account {
    cursor: pointer;
}

#account-container:hover #account-drop-box[login='true'] {
    display: block;
}

#account-container {
    position: relative;
}

#account-drop-box {
    display: none;
    position: absolute;
    top: 100%;
    /* right: 0; */
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #5528ee;
    padding: 10px;
    width: 100px;
    right: 0;
    z-index: 1;
}

#account-drop-box li {
    display: block;
    color: #eee;
    padding: 5px 10px;
    text-align: center;
}

#account-drop-box li:first-child {
    padding-top: 0;
}

.account-menu-item {
    cursor: pointer;
    background-color: inherit;
    border-radius: 5px;
}

.account-menu-item:hover {
    background-color: #333;
}

header {
    z-index: 100;
}

#display-box {
    padding: 10px 20px;
    margin: 30px 20px;
    background-color: #333;
    border-radius: 10px;
}

#display-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#display-box h2,
h3 {
    color: #f0f0f0;
}

.project-name {
    font-weight: normal;
}

.author:hover,
.project-name:hover {
    color: #cbbffd;
}

#display-box-header a {
    display: inline-block;
}

#display-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
}

#display-list li {
    margin: 15px 0;
    background: #444;
    border: 1px solid #555;
    box-shadow: 0 0 5px 0 #555;
    border-radius: 5px;
    width: calc(20% - (20px / 5 * 4));
    min-width: 180px;


}

.project-name, .author, .project-brief {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-poster {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.project-info {
    margin: 3px 0 5px;
    padding: 0 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.project-info div {
    max-width: calc(80% - 10px);
}

.project-info a {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.project-info img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#display-list p {
    padding: 0 10px;
    margin: 8px 0;
}

#display-list hr {
    border: solid #666 1px;
    margin: 8px 0;
}