main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.analyzer-title {
    margin: 20px 0 15px;
    text-align: center;
    font-size: 24px;
}

.report,
.menu {
    flex:1 200px;
    font-size: 18px;
}

input[type="file"] {
    display: none;
}


.btn,
button {
    margin-top: 10px;
    padding: 10px;
    background-color: #353535;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
    display: flex;
    justify-content: center;

    align-items: center;
    border: none;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

.btn:hover,
button:hover {
    background-color: #444;
}

#result-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#result-menu>li {
    display: inline-block;
    flex: 1;
}

#result-menu>li+li {
    margin-left: 10px;
}

.icon-btn>img {
    display: inline-block;
    width: 35px;
    margin-right: 10px;
}

#unloaded {
    border: 5px dashed white;
}


#uploaded {
    border: none;
    background-color: #ddd;
    color: #222;
}

#file-name {
    color: inherit;
}

a {
    text-decoration: none;
}

fieldset {
    border: 0;
    margin: 20px 0;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 5px;
}

input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #5330ee;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: anim 0.2s;
}

.radio-btn:first-child {
    margin-left: 10px;
}

.radio-btn {
    display: inline-block;
    margin-left: 40px;
}

/* 单选框动画 */
@keyframes anim {
    0% {
        transform: translate(-50%, -50%) scale(0);
        background-color: #fff;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    55% {
        transform: translate(-50%, -50%) scale(1.1);
        background-color: #5330ee;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);

    }
}

hr {
    display: block;
    margin: 20px 0;
    border: #333 1px solid;
}

fieldset>span:first-of-type {
    display: inline-block;
    width: 150px;
}

.notification {
    background-color: rgb(1, 148, 1);
    color: rgb(245, 254, 245);
    font: bold 16px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px;
    border: 2px solid rgb(0, 105, 0);
}