/* the big display wrapper separating sections */
.sja-display{
    margin: 0 10px 20px;
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 20px;
}

/* small button */
.sja-sbtn{
    
}