main {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 60px);
    justify-content: space-between;
    padding: 20px;
    height: auto;
}

.left-column {
    flex: 1 200px;
    padding-right: 20px;
    background-color: #333;
    border-radius: 20px;
    padding: 25px;
    padding-bottom: 0;
    margin: 0 0 20px;
    /* background-image: url('../img/home-bg.svg');
    background-position: center bottom;
    background-size: 80% auto;
    background-repeat: no-repeat; */
}

.right-column {
    flex: 1 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 20px;
    font-size: 30px;
}

.tool-btn {
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    border-radius: 5dvh;
    box-sizing: border-box;
}


.left-column>h2 {
    text-align: center;
    font-size: 60px;
    margin: 0 20px 10px;
}

.left-column>p {
    font-size: 18px;
    margin: 20px 0;
}

.tool-btn:link,
.tool-btn:hover,
.tool-btn:visited,
.tool-btn:active {
    color: #fff;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 130%;
}

.tool-btn:hover {
    transition: all 200ms;
    background-color: #373737;
}

.left-column>img {
    display: block;
    margin: auto;
    margin-bottom: 0;
    margin-top: 40px;
    width: 80%;
}


#analyze-btn {
    background-image: url(/assets/img/homepage/analyze-logo.svg);
    background-color: rgba(161, 78, 255, 0.3);
}

#analyze-btn:hover {
    border: rgb(161, 78, 255) 5px solid;
    box-shadow: rgba(161, 78, 255) 0 0 10px;
    background-color: rgba(161, 78, 255, 0.5);
}

#nav-btn {
    background-image: url(/assets/img/homepage/nav-logo.svg);
    background-color: rgba(255, 93, 67, 0.3);
}

#nav-btn:hover {
    background-color: rgba(255, 93, 67, 0.5);
    border: rgb(255, 93, 67) 5px solid;
    box-shadow: rgba(255, 93, 67) 0 0 10px;
}

#stat-btn {
    background-image: url(/assets/img/homepage/stat-logo.svg);
    background-color: rgba(61, 131, 255, 0.3);
}

#stat-btn:hover {
    background-color: rgba(61, 131, 255, 0.5);
    border: rgb(61, 131, 255) 5px solid;
    box-shadow: rgb(61, 131, 255) 0 0 10px;
}

#update-log-btn {
    background-image: url(/assets/img/homepage/update-log-logo.svg);
}

#donation-btn {
    background-image: url(/assets/img/homepage/donation-logo.svg);
}

#faq-btn {
    background-image: url(/assets/img/homepage/faq-logo.svg);
}

#cmpr-btn {
    background-image: url(/assets/img/homepage/cmpr-logo.svg);
    cursor: not-allowed;
    pointer-events: none;
}



